{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>AgroKnowledge | Contacts</title>
<meta charset="utf-8">
<link rel="icon" href="{% static 'images/favicon.ico' %}">
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery-migrate-1.1.1.js' %}"></script>
<script src="{% static 'js/superfish.js' %}"></script>
<script src="{% static 'js/sForm.js' %}"></script>
<script src="{% static 'js/forms.js' %}"></script>
<script src="{% static 'js/jquery.equalheights.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<link rel="stylesheet" media="screen" href="css/ie.css">
<![endif]-->

</head>
<body>
<style>
  input[type=text],email, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #a4ce1b;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #a4ce1b;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  input[type=tel] {
    width: 100%;
    padding: 12px;
    border: 1px solid #a4ce1b;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  .divider{
    width:30px;
    height:auto;
    display:inline-block;
}
  
  button[type=submit] {
    background-color: #a4ce1b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button[type=reset] {
    background-color: #a4ce1b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type=submit]:hover {
    background-color: #a4ce1b;
  }
  
</style>
<script type="text/javascript">
  function Confirm(form){
    alert("Thank You for Submitting this Form. We will contact you soon."); 
    form.submit();
    }
</script>
<header>
    <div class="container_12">
      <div class="grid_12">
        <div class="h_phone">Need Help? Call Us +91 6265222852</div>
        <h1><a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt=""></a></h1>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="menu_block">
      <div class="container_12">
        <div class="grid_12">
          <div class="socials"><a href="https://www.facebook.com/groups/787250868600891/?notif_id=1618812220245678&notif_t=group_invited_to_group&ref=notif"></a><a href="https://twitter.com/AgroKnowledge"></a></div>
          <div class="autor">Social </div>
          <nav class="">
            <ul class="sf-menu">
              <li ><a href="{% url 'index' %}">Home</a></li>
              <li><a href="{% url 'services' %}">Schemes</a>
              </li>
              <li><a href="{% url 'products' %}">Crops</a>
                <ul>
                  <li><a href="#">Rabi Crops</a>
                    <ul>
                      <li><a href="{% url 'wheat' %}">Wheat</a></li>
                      <li><a href="{% url 'gram' %}">Gram</a></li>
                      <li><a href="{% url 'sunflower' %}">Sunflower</a></li>
                      <li><a href="{% url 'potato' %}">Potato</a></li>
                      <li><a href="{% url 'onion' %}">Onion</a></li>
                      <li><a href="{% url 'tomato' %}">Tomato</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Kharif Crops</a>
                    <ul>
                      <li><a href="{% url 'rice' %}">Rice</a></li>
                      <li><a href="{% url 'corn' %}">Corn</a></li>
                      <li><a href="{% url 'soyabean' %}">Soyabean</a></li>
                      <li><a href="{% url 'cotton' %}">Cotton</a></li>
                      <li><a href="{% url 'sugarcane' %}">Sugarcane</a></li>
                      <li><a href="{% url 'moong' %}">Moong</a></li>
                    </ul>
                  </li>
                </ul></li>
              <li class="current"><a href="{% url 'contacts' %}">Contacts</a></li>
            </ul>
          </nav>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
</header>


  
<div class="content">
  <div class="white wt2">
    <div class="container_12">
      <div class="grid_8">
        <h3>Contact Information</h3>
        <div class="map">
          <figure class="img_inner fleft">
            <iframe src="https://maps.google.com/maps?q=petlawad&t=&z=11&ie=UTF8&iwloc=&output=embed"></iframe>
          </figure>
          <div class="text2">AgroKnowledge </div>
          <address>
          <dl>
            <dt>Petlawad, district Jhabua <br>
              457773 (M.P.)</dt>
            <dd><span>Freephone:</span>+91 6265222852</dd>
            <dd>E-mail: <a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSKkkNHQKKDjhmZbPkbZpJhQSkdrsnlrLmkkZWMmTxtJgTRZqSVCplscBndsfcJFTrnKHvzr" class="link-1">yuvrajsinghr4@gmail.com</a></dd>
          </dl>
          </address>
          <address class="mb0">
          <dl>
            <dt> Bhilakheda Dewas,<br>
              455001 (M.P.) </dt>
            <dd><span>Freephone:</span>+91 9340707104</dd>
            <dd>E-mail: <a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSKkkNHQKKDjhmZbPkbZpJhQSkdrsnlrLmkkZWMmTxtJgTRZqSVCplscBndsfcJFTrnKHvzr" class="link-1">choudhary54sandeep@gmail.com</a></dd>
          </dl>
          </address>
          <address class="mb0">
            <dl>
              <dt> Nagda, Ujjain,<br>
                456335 (M.P.) </dt>
              <dd><span>Freephone:</span>+91 7049099308</dd>
              <dd>E-mail: <a href="https://mail.google.com/mail/u/1/#inbox?compose=GTvVlcSGLCGScjbQxhXqRSqkxxgsCtFznZMWtJbZvRqcWrFvgPfFGfZNlLTGWFhdcMJLSsGRjfgzl" class="link-1">porwalharsh01@gmail.com</a></dd>
            </dl>
            </address>
        </div>
      </div>
      <div class="grid_4">
        <h3>Contact Form</h3>
        <form name="form" action="{% url 'contactsubmit' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}

  <!-- name -->
    <input type="text" name="name" placeholder="Your Name" required minlength="3"><br>

  <!-- email -->
        
    <input type="email" name="email" placeholder="Your Email" required email><br>

  <!-- Phone Number -->

    <input type="tel" name="phone" placeholder="Your Phone Number" pattern="[0-9]{10}" required><br>

  <!-- message -->
    <textarea name="message" placeholder="Enter Message here" required style="height:200px"></textarea><br>
    <div align="center"><button type="reset">Reset</button><div class="divider"></div><button type="submit" onClick="Confirm(form)">Submit</button></div>
    

</form>
      </div>
      <div class="clear"></div>
    </div>

  </div>
</div>



<footer>
  <h4 align="center">Made in Djano</h4>
  <div class="container_12">
    <div class="grid_2"></div>
    <div class="grid_2"></div>
    <div class="grid_2"></div>
    <div class="grid_3 prefix_1"></div>
    <div class="clear"></div>
  </div>
  <div class="f_bot">
    <div class="container_12">
      <div class="grid_12"></div>
    </div>
  </div>
</footer>
</body>
</html>